<div class="todo-list">
  <nz-card>
    <h1>TO DO APP</h1>
    <div *ngIf="isOpen; else edit">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="input add task" [(ngModel)]="inputTask" />
      </nz-input-group>
      <ng-template #suffixButton>
        <!-- <button nz-button nzType="primary" nzSize="large" nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button> -->
        <button nz-button nzType="primary" nzSize="large" nzSearch (click)="addTask()">ADD</button>
      </ng-template>
    </div>
    <ng-template #edit>
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="input add task" [(ngModel)]="inputTask" />
      </nz-input-group>
      <ng-template #suffixButton>
        <!-- <button nz-button nzType="primary" nzSize="large" nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button> -->
        <button nz-button nzType="primary" nzSize="large" nzSearch (click)="updateTask()">UPDATE</button>
      </ng-template>
    </ng-template>


    <div class="task" *ngFor="let item of tasks$; index as idx">
      <div class="task-item">
        <nz-switch [(ngModel)]="item.isActive" #check [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate" (ngModelChange)="checked(idx)"></nz-switch>
        <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
        <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
        <span [class.disabled]="item.isActive" class="task-name">{{ item.taskName }}</span>
        <div *ngIf="!item.isActive" class="actions">
          <i nz-icon #edit nzType="edit" nzTheme="twotone" [nzTwotoneColor]="'#1890ff'" (click)="editTask(idx)"></i>
          <i nz-icon #delete nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#ff4d4f'"></i>
        </div>
        <div *ngIf="item.isActive" class="actions">
          <i nz-icon style="cursor: auto;" nzType="edit" nzTheme="twotone" [nzTwotoneColor]="'#bfbfbf'"></i>
          <i nz-icon style="cursor: auto;" nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#bfbfbf'"></i>
        </div>
      </div>
    </div>
  </nz-card>
</div>